# This directory will contain the results of `gradle uploadArchives` execution (if the command is not executed by a docker container)

# Ignore everything in this directory
*
# Except this file
!.gitignore
